&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		status = "okay";
	};
};

&usart1 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&usart6 {
	status = "okay";
};

&cdc_acm_uart0 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_sck_pi1
		     &spi2_miso_pc2 &spi2_mosi_pc3>;
	pinctrl-names = "default";
};

&rng {
	status = "okay";
};

/ {
	chosen {
		zephyr,console = &usart6;
		zephyr,shell-uart = &usart6;
		zephyr,cdc-acm-uart0 = &usart6;
	};
};

/ {
	soc {
		flash-controller@52002000 {
			flash0: flash@8000000 {
				compatible = "st,stm32-nv-flash", "soc-nv-flash";
				write-block-size = <32>;
				erase-block-size = <DT_SIZE_K(128)>;
				/* maximum erase time for a 128K sector */
				max-erase-time = <4000>;

				reg = <0x08000000 DT_SIZE_K(1024)>;
				status = "okay";

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;

					user_sketch: partition@0 {
						reg = <0x0E0000 0x20000>;
					};
				};
			};
		};
	};
};

/ {
	zephyr,user {
		digital-pin-gpios = <&gpioh 15 0>,
				    <&gpiok 1 0>,
				    <&gpioj 11 0>,
				    <&gpiog 7 0>,
				    <&gpioc 7 0>,
				    <&gpioc 6 0>,
				    <&gpioa 8 0>,
				    <&gpioi 0 0>,
				    <&gpioc 3 0>,
				    <&gpioi 1 0>,
				    <&gpioc 2 0>,
				    <&gpioh 8 0>,
				    <&gpioh 7 0>,
				    <&gpioa 10 0>,
				    <&gpioa 9 0>,
					<&gpiok 5 GPIO_ACTIVE_LOW>,	// LEDR
					<&gpiok 6 GPIO_ACTIVE_LOW>,
					<&gpiok 7 GPIO_ACTIVE_LOW>;

		builtin-led-gpios = <&gpiok 5 GPIO_ACTIVE_LOW>,
                        <&gpiok 6 GPIO_ACTIVE_LOW>,
                        <&gpiok 7 GPIO_ACTIVE_LOW>;

		serials = <&cdc_acm_uart0>,<&usart6>, <&usart1>, <&uart4>;
		cdc-acm = <&cdc_acm_uart0>;
		i2cs = <&i2c4>;
		spis = <&spi2>;
	};
};
